extends templates/base

block content
  form.edit-profile__form(method="post", enctype="multipart/form-data")
    label(for="avatar") Avatar
    input#avatar(name="avatar", type="file", accept="image/*")
    input(
      name="email",
      placeholder="email",
      type="email",
      required,
      value=loggedInUser.email,
      disabled=loggedInUser.socialOnly ? true : false
    )
    input(
      name="username",
      placeholder="username",
      type="text",
      required,
      value=loggedInUser.username
    )
    input(
      name="name",
      placeholder="name",
      type="text",
      required,
      value=loggedInUser.name
    )
    input(
      name="location",
      placeholder="location",
      type="text",
      required,
      value=loggedInUser.location
    )
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      .edit-profile___password
        a(href="change-password") Change password &rarr;
